<!DOCTYPE html>
<html>
  <head>
    <title>Startsida</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js"></script>
  </head>
  <body>
    <h1>Rubriker är bra</h1>
    <p>
      Likaså brödtext. Det finns många olika typer, men inte så många som används.
    </p>

    <ul>
      <li>Listor är trevliga.</li>
      <li>Listor är bra.</li>
      <li>Listor är listiga.</li>
    </ul>

    <img src="/dogs.gif" alt="Hundar!">

    <p>
      Det finns även stöd för <strong>fet</strong> text,
      <em>kursiv</em> och även <a href="/colors">länkar!</a>
    </p>
  </body>
</html>
